{% extends 'admin/pages/page_layout.html.twig' %}

{% block page_title %}{{ 'admin.help._label'|trans }}{% endblock %}

{% block page_content %}
  <p>
  {{ 'admin.help.doc'|trans }}<a href="https://doc.gogocarto.fr/" target="_blank">https://doc.gogocarto.fr/</a>
  </p>
{% endblock %}





