{% extends admin.getTemplate('base_list_field') %}

{% block field %}
  {% spaceless %}
      {% if value %}
        <span class="label label-primary">Tous les {{ value }} jours</span> {# TODO Translation #}
      {% else %}
        <span class="label label-default">Manuelle</span> {# TODO Translation #}
      {% endif %}
  {% endspaceless %}
{% endblock %}