{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}
{% trans_default_domain 'admin' %}

{% block list_header %}
    <p>
        <h4 style="margin: 0 0 20px 10px">{{ 'list'|trans }}</h4>
    </p>
{% endblock %}
