{% extends "page-layout.html.twig" %}

{% set pageName = 'error' %}
{% set pageTitle = "Erreur !" %} {# TODO Translation #}

{# BODY CONTENT #}
{% block body_content %}

	<h1 style="font-size: 2.5rem;">Oops! Une erreur s'est produite</h1> {# TODO Translation #}

    <div>
      La page demandée n'existe pas (ou plus!)... {# TODO Translation #}
    </div>

{% endblock %}
